<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net452" />
  <package id="jQuery" version="3.1.0" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.1" targetFramework="net452" />
  <package id="Microsoft.TypeScript.MSBuild" version="2.0.3" targetFramework="net452" developmentDependency="true" />
  <package id="MsBuild.NuGet.Pack" version="2.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="NuGet.Manifest.Schema" version="2.0.4" targetFramework="net452" />
</packages>