<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.1.0" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.0" targetFramework="net452" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net452" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.2.8" targetFramework="net452" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="1.1.4" targetFramework="net452" />
  <package id="knockoutjs" version="3.4.0" targetFramework="net452" />
  <package id="linq.js" version="2.2.0.2" targetFramework="net452" />
  <package id="linq.TypeScript.DefinitelyTyped" version="0.3.8" targetFramework="net452" />
</packages>