
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/app.css?v2" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js?v1"></script>
    <script src="~/Scripts/app.js?v2"></script>
</head>
<body>
    <div>ここに表示されます。
    </div>
    <footer><button>更新</button></footer>
   
</body>
</html>
